language: node_js
node_js: node

before_script:
 - npm install -g firebase-tools
 - echo "_____________________________ Beginning Pre-Deploy Build _____________________________"
 - mkdir public 
 - cp -r $TRAVIS_BUILD_DIR/src/. $TRAVIS_BUILD_DIR/public/
 - cd public && ls
 
script:
 - echo "_____________________________ Begining Deploy  _____________________________"
 - firebase deploy --token $FIREBASE_TOKEN --non-interactive
 - echo "_____________________________ Deploy Finish _____________________________"
