/* #region Global Styling */
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    margin: 0;
    padding: 0;
    width: 100%; 
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    margin: 0;
    padding: 0 ;
  }
  body{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
  }
  ul {
      list-style: none;
  }
  
/* #endregion Global Styling */

/* #region Header Styling */
.header{
    background-image: url('./img/header-img.png');
    height: 80vh;
    background-size: cover;
    background-attachment: fixed;
    /* background-position: center; */
}
.navbar{
    font-family: 'Acme', sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.657);
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    height: 5rem;

    box-shadow: 1px 0px 16px 2px #083542a9;
}
.header__siteBrand{
    width: 15rem;
}
.navbar__toggleBtn{
    width: 3em;
    padding: .5em;
    cursor: pointer;
}
.navbar__navList{
    display: none;
    /* display: flex;
    justify-content: space-around;
    width: 60%;
    list-style: none; */
}
.header__text{
    height: 80%;
    padding: 0 2em;

    color: white;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* #endregion Header Styling */

/* #region PackagesSection Styling */
.sectionPackages{
    background-color: #083542;
    color: white;
    padding: 2rem;

    /* display: flex;
    justify-content: space-between; */
}
.package{
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid white;
}
.package__title{
    text-align: center;
    margin-bottom: 1em;
}
/* #endregion PackagesSection Styling */
