/* #region Global Styling */
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    margin: 0;
    padding: 0;
    width: 100%; 
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    margin: 0;
    padding: 0 ;
  }
  body{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
  }
  ul {
      list-style: none;
  }
  
/* #endregion Global Styling */

/* #region Header Styling */
.header{
    background-image: url('./img/header-img.png');
    height: 80vh;
    background-size: cover;
    background-attachment: fixed;
}
.navbar{
    font-family: 'Acme', sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.657);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 5rem;
}
.header__siteBrand{
    width: 15rem;
}
.navList{
    display: flex;
    justify-content: space-around;
    /* flex: 1; */
    width: 60%;
    list-style: none;
}
.header__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
}
/* #endregion Header Styling */

/* #region PackagesSection Styling */
.sectionPackages{
    background-color: #083542;
    color: white;
    padding: 2rem;

    display: flex;
    justify-content: space-between;
}
.package{

}
/* #endregion PackagesSection Styling */
